<!doctype html>
<html lang="en">

<!-- Mirrored from bootstrap.gallery/kingfisher/light-sidebar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jan 2022 22:31:08 GMT -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Kingfisher Admin Panel" />
    <meta name="keywords"
        content="Admin, Dashboard, Bootstrap 4 Admin Dashboard, Bootstrap 4 Admin Template, Bootstrap 4 Admin Template, Sales, Admin Dashboard, Traffic, Tasks, Revenue, Orders, Invoices, Projects, Invoices, Dashboard, Bootstrap4, Sass, CSS3, HTML5, Responsive Dashboard, Responsive Admin Template, Admin Template, Best Admin Template, Bootstrap Template, Themeforest" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <title>Kingfisher Bootstrap 4 Admin Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/fonts/icomoon/icomoon.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/vendor/daterange/daterange.css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <link rel="stylesheet" href="/css/datepicker.css" />
    <link rel="stylesheet" href="/vendor/circliful/circliful.css" />
    <link href="/vendor/tags/tagmanager.css" rel="stylesheet" />
</head>
<body>
    <div id="loading-wrapper">
        <div id="loader"></div>
    </div>
    <!-- Loading end -->

    <!-- BEGIN .app-wrap -->
    <div class="app-wrap">

        <!-- BEGIN .app-heading -->
        <header class="app-header">
            <div class="container-fluid">
                <!-- Row start -->
                <div class="row gutters">
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-7 col-7">

                        <!-- BEGIN .logo -->
                        <div class="logo-block">
                            <a href="/checklist/list" class="logo">
                                <img src="/img/logo.png" alt="Kingfisher Admin Dashboard" />
                            </a>
                            <a class="mini-nav-btn" href="#" id="onoffcanvas-nav">
                                <i class="open"></i>
                                <i class="open"></i>
                                <i class="open"></i>
                            </a>
                            <a href="#app-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler"
                                aria-expanded="true">
                                <i class="open"></i>
                                <i class="open"></i>
                                <i class="open"></i>
                            </a>
                        </div>
                        <!-- END .logo -->

                    </div>
            
                </div>
            </div>
        </header>
        <div class="app-container">
            <aside class="app-side fixed" id="app-side">

                <!-- BEGIN .side-content -->
                <div class="side-content ">

                    <!-- BEGIN .user actions -->
                    <ul class="user-actions">
                    
                    </ul>
                    <div class="sidebarNavScroll">

                        <!-- BEGIN .side-nav -->
                        <nav class="side-nav">

                            <!-- BEGIN: side-nav-content -->
                            <ul class="unifyMenu" id="unifyMenu">
                           
                                <li>
                                    <a href="/checklist/add">
                                        <span class="has-icon">
                                    
                                        </span>
                                        <span class="nav-title">Add A Checklist</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/checklist/list">
                                        <span class="has-icon">
                                        
                                        </span>
                                        <span class="nav-title">List</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
    <%-body %> 
        </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendor/unifyMenu/unifyMenu.js"></script>
    <script src="/vendor/onoffcanvas/onoffcanvas.js"></script>
    <script src="/js/moment.js"></script>

    <!-- News Ticker JS -->
    <script src="/vendor/newsticker/newsTicker.min.js"></script>
    <script src="/vendor/newsticker/custom-newsTicker.js"></script>
    <!-- Slimscroll JS -->
    <script src="/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="/vendor/slimscroll/custom-scrollbar.js"></script>
    <script src="/vendor/daterange/daterange.js"></script>
    <script src="/vendor/daterange/custom-daterange.js"></script>
    <script src="/vendor/circliful/circliful.min.js"></script>
    <script src="/vendor/circliful/circliful.custom.js"></script>
    <script src="/vendor/peity/peity.min.js"></script>
    <script src="/vendor/peity/custom-peity.js"></script>
    <script src="/vendor/tags/tagmanager.js"></script>
    <script src="/vendor/tags/tagmanager-custom.js"></script>
    <script src="/js/common.js"></script>
    <script>
        //Datepicker
        $(function () {
            $("#datepicker").datepicker()
        });
    </script>

</body>

<!-- Mirrored from bootstrap.gallery/kingfisher/light-sidebar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jan 2022 22:32:53 GMT -->

</html>