<div class="app-main">
    <header class="main-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="page-title">
                        <h5 class="one">Your CheckList View</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-content">
        <div class="row gutters">

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="card text-center">
                            <div class="card-body">
                              User :   <p class="card-text"><%=SingleCheckList.user  %> </p>
                              Email :   <p class="card-text"><%=SingleCheckList.email  %> </p>
                              Progress :  <p class="card-text"><%=SingleCheckList.progress  %> </p>
                              Note :   <p class="card-text"><%=SingleCheckList.note  %> </p>
                                            <a href="/checklist/list" class="btn  btn-outline-primary">List</a>
                            </div>
                        </div>
                    </div>
     
        </div>
    </div>
    <footer class="main-footer">
        Copyright Kingfisher Admin 2018.
    </footer>
</div>