<div class="app-main">

    <!-- BEGIN .main-heading -->
    <header class="main-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">

                    <div class="page-title">
                        <h5 class="one">Dashboard</h5>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="daterange-container">
                        <div id="reportrange" class="form-control">
                            <span></span> <i class="icon-chevron-down down-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END: .main-heading -->

    <!-- BEGIN .main-content -->
    <div class="main-content">
      
        <!-- Row end -->

        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">Sales</div>
                 
                    <div class="tags-container">
                        <input type="text" autocomplete="off" name="tags" placeholder="Add tag"
                            class="tm-input tm-tag-plain tm-input-01" data-original-title="" />
                    </div>
                    <div class="card-body">
                        <div id="areaChart" class="chart-height-lg"></div>
                        <div class="spacer20"></div>
                        <div class="row gutters">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="info-stats">
                                    <span class="info-label"></span>
                                    <p class="info-title">Daily Sales</p>
                                    <h4 class="info-total">9,850</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="info-stats">
                                    <span class="info-label red"></span>
                                    <p class="info-title">Weekly Sales</p>
                                    <h4 class="info-total">57,985</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="info-stats">
                                    <span class="info-label green"></span>
                                    <p class="info-title">Monthly Sales</p>
                                    <h4 class="info-total">2,50,900</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="info-stats">
                                    <span class="info-label yellow"></span>
                                    <p class="info-title">Yearly Sales</p>
                                    <h4 class="info-total red">99,95,500</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->

        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">Traffic</div>
                            <div class="card-body">
                                <ul class="traffic-sources">
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                                                <span class="symbol"></span>
                                            </div>
                                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">Search Engines</div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="source-graph">
                                                    <span class="line-one">1,3,7,3,8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                                                <span class="symbol green"></span>
                                            </div>
                                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                                                Referring
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="source-graph">
                                                    <span class="line-two">1,2,0,2,3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                                                <span class="symbol yellow"></span>
                                            </div>
                                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                                                Direct
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="source-graph">
                                                    <span class="line-three">3,2,6,1,2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                                                <span class="symbol orange"></span>
                                            </div>
                                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                                                Advertising
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="source-graph">
                                                    <span class="line-four">3,5,3,1,7</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                                                <span class="symbol pink"></span>
                                            </div>
                                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                                                Other
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                                <div class="source-graph">
                                                    <span class="line-five">2,6,5,1,2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="card todo-container">
                            <div class="card-header">
                                Tasks
                            </div>
                            <div class="customScroll4">
                                <ul class="todo-body">
                                    <li class="todo-list done">
                                        <div class="todo-info">
                                            <span class="dot"></span>
                                            <p>Team Meeting<span class="time">10:30am</span></p>
                                            <small>Mobile App</small>
                                        </div>
                                    </li>
                                    <li class="todo-list">
                                        <div class="todo-info">
                                            <span class="dot orange"></span>
                                            <p>Make new page<span class="time">12pm</span></p>
                                            <small>New website</small>
                                        </div>
                                    </li>
                                    <li class="todo-list done">
                                        <div class="todo-info">
                                            <span class="dot yellow"></span>
                                            <p>Code review<span class="time">3pm</span></p>
                                            <small>Product launch</small>
                                        </div>
                                    </li>
                                    <li class="todo-list">
                                        <div class="todo-info">
                                            <span class="dot green"></span>
                                            <p>Catchup with Bristo <span class="time">9am</span></p>
                                            <small>Mobile Project</small>
                                        </div>
                                    </li>
                                    <li class="todo-list">
                                        <div class="todo-info">
                                            <span class="dot"></span>
                                            <p>Watch Football Match<span class="time">3:30pm</span></p>
                                            <small>Football match</small>
                                        </div>
                                    </li>
                                    <li class="todo-list">
                                        <div class="todo-info">
                                            <span class="dot pink"></span>
                                            <p>Trekking with Maria<span class="time">5pm</span></p>
                                            <small>Fun time</small>
                                        </div>
                                    </li>
                                    <li class="todo-list">
                                        <div class="todo-info">
                                            <span class="dot yellow"></span>
                                            <p>Coffee with Julia<span class="time">9pm</span></p>
                                            <small>Friends</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="card primary">
                            <div class="card-header">Orders</div>
                            <div class="card-body">
                                <div id="xLabelsDiagonally" class="chart-height-lgx"></div>
                                <div class="row no-gutters justify-content-sm-center">
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                                        <div id="on-trials"></div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                                        <div id="base-plan"></div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                                        <div id="premium-plan"></div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                                        <div id="platinum-plan"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="card warning">
                            <div class="card-header">Deals</div>
                            <div class="card-body">
                                <div class="deals-widget">
                                    <div class="row gutter">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                            <div class="small-graph">
                                                <span class="updating-chart-five">4,2,2,2,2,5,2,1,3,2,1,2,2,4</span>
                                            </div>
                                            <p><i class="icon-triangle-up"></i>1250</p>
                                            <h5>Daily</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                            <div class="small-graph">
                                                <span class="updating-chart-four">2,1,1,1,2,2,2,2,1,3,3,2,1,2</span>
                                            </div>
                                            <p><i class="icon-triangle-down"></i>8275</p>
                                            <h5>Weekly</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="card teal">
                            <div class="card-header">Invoices</div>
                            <div class="card-body">
                                <div class="invoices-widget">
                                    <div class="row gutter">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                            <div class="progress sm">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                    style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <p><i class="icon-triangle-up"></i>825</p>
                                            <h5>Daily</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                            <div class="progress sm">
                                                <div class="progress-bar bg-warning" role="progressbar"
                                                    style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <p><i class="icon-triangle-down"></i>6590</p>
                                            <h5>Weekly</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="card warning">
                            <div class="card-header">Revenue</div>
                            <div class="card-body revenue-container">
                                <div id="revenue" class="chart-height-2"></div>
                                <div class="revenue-footer">
                                    <div class="row gutters">
                                        <div class="col-6">
                                            <h2 class="m-0">7490</h2>
                                            <p class="m-0">Overall Sales</p>
                                        </div>
                                        <div class="col-6">
                                            <div class="live-sales">
                                                <ul class="sales-ticker" id="sales-ticker">
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <span class="num">7</span>
                                                            <span>New items sold.</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <span class="num">5</span>
                                                            <span>New items sold.</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <span class="num">9</span>
                                                            <span>New items sold.</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="datepicket-container primary">
                            <div id="datepicker"></div>
                            <div class="bg-primary"></div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                        <div class="card purple">
                            <div class="card-header">Statistics</div>
                            <div class="customScroll5">
                                <div class="card-body">
                                    <ul class="stats">
                                        <li>
                                            <span class="icon">
                                                <i class="icon-shopping-basket"></i>
                                            </span>
                                            Once a buyer completes checkout.
                                        </li>
                                        <li>
                                            <span class="icon red">
                                                <i class="icon-fire"></i>
                                            </span>
                                            A new ticket opened.
                                        </li>
                                        <li>
                                            <span class="icon yellow">
                                                <i class="icon-camera"></i>
                                            </span>
                                            Thanks Sarah, I need your profile.
                                        </li>
                                        <li>
                                            <span class="icon green">
                                                <i class="icon-lightbulb"></i>
                                            </span>
                                            Major Release Reminders.
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i class="icon-emoji-happy"></i>
                                            </span>
                                            End-of-Support Notifications.
                                        </li>
                                        <li>
                                            <span class="icon red">
                                                <i class="icon-fire"></i>
                                            </span>
                                            New notification received.
                                        </li>
                                        <li>
                                            <span class="icon green">
                                                <i class="icon-camera"></i>
                                            </span>
                                            Thanks Shawn, I need your profile.
                                        </li>
                                        <li>
                                            <span class="icon yellow">
                                                <i class="icon-lightbulb"></i>
                                            </span>
                                            That's A great idea!
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i class="icon-emoji-happy"></i>
                                            </span>
                                            Tell us what you think!
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->

    </div>
    <footer class="main-footer">
        Copyright Kingfisher Admin 2018.
    </footer>
    <!-- END: .main-footer -->

</div>